externals: {
  'Config': JSON.stringify(process.env.NODE_ENV === 'production' ? {
    serverUrl: "https://myserver.com"
  } : {
    serverUrl: "http://localhost:8090"
  })
  'someValue': {{ some_variable }}
  'globalVariable': {{ a_global_variable }}
  'password': {{ password }}
  'envVariable': {{ a_env_variable }}
}
